# build directories and files
__pycache__
bld

# PyCharm-related
.idea/

# waf-related
.waf*
waf-*
waf3-*
.lock-waf_win32_build

# exceptions
!.environment.osx.yml
!.environment.windows.yml
!.environment.linux.yml
!.env
!.gitignore
!.mywaflib
!.pre-commit-config.yaml
